@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <p> Link : <a href="ms-word:ofe|u|https://PNQ1-LHP-N91356/FSSHTTP/GetDoc/TestStruttura1.docx"> https://PNQ1-LHP-N91356/FSSHTTP/GetDoc/TestStruttura.docx</a>  </p>
</div></div>