@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <p> Link : <a href="ms-word:ofv|u|https://PNQ1-LHP-N91356/FSSHTTP/GetDoc/TestStruttura1.docx"> https://PNQ1-LHP-N91356/FSSHTTP/GetDoc/TestStruttura.docx</a>  </p>
    <p> Sharepoint ReadOnly : <a href="ms-word:ofv|u|https://anaplan-my.sharepoint.com/:w:/r/personal/sahil_bharatbhai_anaplan_com/Documents/Live%20Demo%20FSS.docx"> Open Read Only</a>  </p>
</div></div>