@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <p> Link : <a href="ms-word:ofe|u|https://PNQ1-LHP-N91356/FSSHTTP/GetDoc/BlankDocument.docx"> https://PNQ1-LHP-N91356/FSSHTTP/GetDoc/BlankDocument.docx</a>  </p>
    <p> Sharepoint ReadOnly : <a href="ms-word:ofv|u|https://anaplan-my.sharepoint.com/:w:/r/personal/sahil_bharatbhai_anaplan_com/Documents/Sharepoint%2002%20February.docx?d=wf3cb5ad0010e49c4b97f7b993c8a71c3&csf=1&web=1"> Open Read Only</a>  </p>
</div></div>